/*=================================================
                    WHOLE FOOTER
==================================================*/

footer {
    padding: 60px 0 0 0;
}

.row {
    margin: 20px 0;
}

#contact-head .content-title-under {
    width: 82%;
    height: 2px;
    background-color: #f4b301;
    margin: 0 auto 0 auto;
}

#contactfoot {
    background-color: #41464b;
    color: #fff;
}

#contact-head {
    width: 100%;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

#contact-head h4 {
    padding: 11px 0;
    /*top margin*/
    font-size: 18px;
    font-style: italic;
    display: inline-block;
}

.row h3 {
    font-family: TimesNewRoman, sans-serif;
    font-size: 21px;
    text-transform: uppercase;
}

#phone-email {
    /*padding-left: 80px;*/
}

.reflinks {
    list-style-type: none;
    padding-right: 40px;
    text-align: center;
}

.reflinks li a {
    color: #fff;
}

.reflinks li a:hover {
    color: #f4b301;
    text-decoration-line: none;
}

#copyrightsscroll {
    background-color: #3a3f43;
    /*bgc+tab emmets shortcut*/
    padding: 12px 0;
    /*p:30-0 + tab for shortcut */
    color: #fff;
}

#copyrightsscroll .container {
    text-align: center;
    vertical-align: middle;
}


/*========================================
                Social Icons
=========================================*/

.social-icons {
    margin: 0 0;
    padding: 10px 0;
    /*top margin */
    display: inline-block;
    /*brimging besides header 4*/
}

.social-icons li {
    list-style-type: none;
    display: inline-block;
    /* bringing icons inline*/
    width: 32px;
    height: 32px;
    padding: 0 10px;
    /*space between icons*/
}

.social-icon {
    font-size: 20px;
}

#social-menu .main-menu2 li .custom-icon {
    color: #fff;
    background: none;
}

#social-menu .main-menu2 li .custom-icon:hover {
    background: none;
}

.icon-white {
    color: #fff;
}

.custom-icon i:hover {
    color: #f4b301;
}

.fai:hover {
    color: #0083c9;
}

.gooi:hover {
    color: #ce3c2d;
}

.insi:hover {
    color: #ff6021;
}

.twiti:hover {
    color: #5bbcec;
}


#copyrightsscroll .container .row .col-md-12 p {
    display: inline-block;
}


/*========================================
                Navigation Bar
=========================================*/

.nav-button {
    border: solid 1px;
    color: #f4b301;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    padding: 8px 18px;
    border-color: #f4b301;
    background: none;
    border-radius: 35px;
    margin-left: 7px;
    text-decoration-line: none;
    letter-spacing: 1px;
}

#menu .main-menu li a img {
    display: inline-block;
    padding: 0px 8px 0px 0px;
}

.nav-button:hover {
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(243, 178, 1, .7);
    border-color: rgba(243, 178, 1, .7);
    text-decoration-line: none;
}

#menu {
    vertical-align: middle;
    text-align: center;
    padding-left: 105px;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: 700;
}

#social-menu {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    float: right;
}

.navbar-in {
    /*navbar-in removed from html but works in place of nav-fixed-top here so that there is cleared transaparency while onload but while scrolling this code works i*/
    background-color: rgba(0, 0, 0, 0.7);
    /*change all properties smoothly*/
    /*for transaparency */
}

.navbar {
    transition: all .5s ease-in-out;
    /*doesnt work nav tutorial 7 video */
    padding: 8px 0px;
}

#menu .main-menu li a {
    color: #fff;
    background: none;
}

#menu .main-menu li a:hover {
    color: #f4b301;
    background: none;
}

.head-logo {
    font-size: 20px;
}

#menu .main-menu li.active a {
    color: #f4b301;
}

/*====================================================================
                            Backtop footer
======================================================================*/

.btn-backtop {
    display: none;
    color: #f4b301;
    border: solid 1px;
    padding: 3px 10px;
    float: right;
    font-size: 25px;
}

.btn-backtop:hover {
    background-color: #f4b301;
    color: #fff;
    border-color: #f4b301;
}

/*=======================================================================
                            SEARCH and back
=========================================================================*/

#backcover {
    background-image: url("../img/Backrgound images/shopping.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /*scaled,no space left,aligned center to center*/
    background-position: center;
    /*parallax effect(foreground runs fast than back image)*/
    background-attachment: fixed;
    animation-delay: .1s;

    /*blur effect*/
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    z-index: -1;
    /*because ihe image has got -1 its placed behind the heading flower trade and form*/
}

#search-body {
    text-align: center;
    margin: 20% 0 0 0;
    animation-delay: .5s;
}

.search-text {
    font-size: 20px;
    border: 1px solid #f4b301;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: inline;
    width: 50%;
    vertical-align: middle;
    padding: 3px;
}

.search-btn {
    margin-left: -5px;
    font-size: 20px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    display: inline;
    vertical-align: middle;
    background-color: #f4b301;
}

.search-btn i {
    padding: 2px;
}

/*=================================================
        Item Name & price(Generic)
==================================================*/

h4.item-name {
    color: #41464b;
    letter-spacing: 1px;
    font-size: 18px;
    padding-top: 2px;
    font-weight: 600;
}

h5.item-price {
    color: #41464b;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    margin-top: 5px;
    letter-spacing: 1px;
}

.container .row-fix {
    margin:20px 0 45px 0 ;
}


/*=================================================
                        featured FLOWERS
==================================================*/

.featflower-item {
    cursor: pointer;
}

.featflower-info {
    padding: 10px 0 10px 0;
}

.featflower-item-image {
    overflow: hidden;
    /*image zoom exceeds limit so exceed within box*/
}

.featflower-item-image img {
    /*transition changes a value to another using scaling smoothly*/
    transition: transform ease .5s;
}

.featflower-item-image img:hover {
    /*change size of image zoom*/
    transform: scale(1.2);
    cursor: zoom-in;
}
/*==================================== 
            centered product images
======================================*/
.fix-image {
    width: 200px;
    height: 150px;
    margin: 0 auto;
   
}
/*=================================================
                        CONTENT BOX(Generic)
==================================================*/

#shopping {
    padding: 0 0 320px 0;
    /*backimage kept separate so use section for padding...which makes flower section start after section*/
}

.content-box {
    padding: 60px 0 0 0;
    /*For space betweeen sections*/
}

.content-title h3 {
    color: #41464b;
    font-size: 26px;
    /*30*/
    font-weight: 700;
    text-align: center;
    /*align heading to center*/
    margin: 0 0 20px 0;
    text-transform: uppercase;
    /*space between heading and images*/
}

.content-title h3 span {
    color: #41464b;
    font-size: 15px;
    font-weight: 400i;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #f4b301;
    margin: 0 auto 30px auto;
    /*center align hr line*/
    /*bottom:30px for space between images and hr line*/
}

.content-title-white h3 {
    /*a class from team section for team head as white*/
    color: #fff;
}